*{
    outline: none;
    box-sizing: border-box;
}
header{
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1151px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .container{
    .inputs{
        max-width: 60%;
    }
}
mat-form-field{
    margin-right: 5px;
}