<div class="play" *ngIf='!gameStatus()'>
    <button mat-mini-fab color="primary" aria-label="Play" (click)='onClick($event)'>
        <fa-icon [icon]='faPlay'></fa-icon>
    </button>
</div>

<div class="timer" *ngIf='getTimerStatus()'>{{ timer() }}</div>

<div class="game-content" *ngIf='gameStatus() && !getTimerStatus()'>
    <div class="variables">
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo()"
          cdkDropListOrientation="horizontal"
          [cdkDropListConnectedTo]="[doneList]"
          (cdkDropListDropped)="drop($event)"
          class="variables-wrap">
          <div class="var-box" *ngFor="let item of todo()"  cdkDrag>
            <img class="game-img" src="{{ item.value }}" alt="">
          </div>
        </div>
    </div>
      <div class="answer">
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done()"
          cdkDropListOrientation="horizontal"
          [cdkDropListConnectedTo]="[todoList]"
          class="answer-wrap"
          (cdkDropListDropped)="drop($event)">
          <div class="var-box" *ngFor="let item of done()" [cdkDragDisabled]='item' cdkDrag>
            <img class="game-img" src="{{ item.value }}" alt="">
          </div>
        </div>
    </div>
</div>

<div class="anouncer" *ngIf='!anounced'>
  <div class="anouncer-wrap">
    <div class="anounce-level">{{ anounceLevel }}</div>
    <img src="{{ imageDone }}" *ngIf='imageDone.length' alt="">
    <fa-icon [icon]='faLongArrowAltRight'></fa-icon>
    <img src="{{ imageTwo }}" *ngIf='imageDone.length' alt="">
  </div>
</div>


