<div class="main">
    <app-header [(options)]="options"></app-header>
    <div class="game-window">
        <div class="container-game">
            <div class="game-border">
                <div class="overlay"></div>
                <img src="https://games.iqcenter.am/public/img/backgrounds/game6-border.png">
            </div>
            <div class="info-section">
                <div class="score-section">
                    Очки: {{ points() }}
                </div>
            </div>
            
            <d-i-g *ngIf='modeDIG()' class="mode"></d-i-g>
            <d-w-g *ngIf='modeDWG()' class="mode"></d-w-g>
            <i-m-i-g *ngIf='modeIMIG()' class="mode"></i-m-i-g>
            <i-w-g *ngIf='modeIWG()' class="mode"></i-w-g>
        </div>
    </div>

</div>
